html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #ffffff;
  --main-logo-color: #2196f3;
  --accent-bg-color: #2f303a;
  --page-header-bg: #ffffff;
  --main-bg-color: #e5e5e5;
  --secondary-btn-bg: #f5f4fa;
  --accent-btn-bg: #2196f3;
  --accent-primari-btn-bg: #188ce8;
  --accent-link-color: #2196f3;
}
/* Утилиты */
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  border: 2px solid rgb(0, 255, 13);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primari-text-color);
  background: var(--main-bg-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.colortext-header {
  color: var(--title-text-color);
}

/* button */
.button.secondary {
  color: var(--title-text-color);
  background: var(--secondary-btn-bg);
  padding: 6px 22px 6px 22px;
  min-width: 73px;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--accent-text-color);
  background: var(--accent-btn-bg);
}
.button.primari {
  color: var(--accent-text-color);
  background: var(--accent-btn-bg);
  padding: 10px 32px 10px 32px;
  min-width: 200px;
}
.button.primari:hover,
.button.primari:focus {
  color: var(--accent-text-color);
  background: var(--accent-primari-btn-bg);
}
.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  /* text-align: center; */
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
}

/* Шапка */
.page-header {
  background: var(--page-header-bg);
}
.main-header {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-logo-color);
  text-decoration: none;
}

/*Навигация*/
.site-nav {
  display: inline-flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-bg-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-link-color);
}
.site-nav .link.current {
  color: var(--accent-link-color);
}

/* Контакты */
.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-link-color);
}

.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header .item:not(:last-child) {
  margin-right: 50px;
}
.contacts-header .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  text-decoration: none;
}

/* Уникальный контент */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  /* margin-top: 0px; */
  margin-bottom: 50px;
}
/* .section-title .features {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
} */

/* .features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
} */

/* Герой */
.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  background: var(--accent-bg-color);
  color: var(--accent-text-color);
  text-align: center;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Преимущества */

.main-content {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-features {
  margin-bottom: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-list .item {
  width: calc((100% - 90px) / 4);
  /* width: 270px; */
  margin-bottom: 0px;
  /* margin-right: -30px; */
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-text {
  margin-bottom: 0px;
}

/* Чем мы занимаемся */
.work-list {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -30px; */
}
.work-list .item {
  width: calc ((100% - 60px) / 3);
}
.work-list .item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  background: var(--secondary-btn-bg);
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-text-color);
}

/* Футер */
.page-footer {
  background: var(--accent-bg-color);
}
.page-footer .link:hover,
.page-footer .link:focus {
  color: var(--accent-link-color);
}
.colortext-footer {
  color: var(--accent-text-color);
}
.adress-footer {
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-text-color);
  font-style: normal;
}
.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-link-color);
}
.contacts-footer .link {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

/* portfolio page */
/* Герой */
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects-list .item:nth-child(3n) {
  margin-right: 0px;
}

.projects-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.projects-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primari-text-color);
}
.projects-link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* .section-features {
  background: aqua;
}
.section-work {
  background: blueviolet;
} */
